[submodule "native/src/daisy-backend"]
	path = native/src/daisy-backend
	url = ../daisy-backend
[submodule "native/src/anime-home"]
	path = native/src/anime-home
	url = ../anime-home-rs
[submodule "native/src/anime_home"]
	path = native/src/anime_home
	url = ../anime-home-rs
[submodule "native/src/daisy_backend"]
	path = native/src/daisy_backend
	url = ../daisy-backend
[submodule "native"]
	path = native
	url = ssh://git@ms:3022/niuhuan/daisy-native.git
	branch = master
